/* =====================북 리스(BookList)======================== */
.book_container {
  padding: 20px;
  font-family: var;
}

/* 페이지 제목 */
.pege_title h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-black);
  font-family: var(--font-kr);
  text-align: left; /* 타이틀 왼쪽 정렬 */
}

/* ==============검색 및 필터 ============*/
.booklist_search {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.category-filter select {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--text-gray-light);
  cursor: pointer;
}

.search-bar input {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  border: 1px solid var(--text-gray-light);
}

.search-bar button {
  border: none;
  background: none;
}

.search-bar img {
  width: 30px;
  margin-left: -50px;
  margin-bottom: -10px;
  z-index: 100;
  cursor: pointer;
}

.search-bar img:hover {
  width: 31px;
}

/* 책 목록 헤더 */
.book_contianer_main_tap {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-top: 1px solid var(--text-gray-light);
  border-bottom: 1px solid var(--text-gray-light);
  font-weight: bold;
  text-align: left; /* 헤더 항목 왼쪽 정렬 */
}

/* 책 목록 아이템 */
.book_list_item {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.book_list_item .book_title{
 max-width:150px;
  width: 100%;
  margin-left: -120px;
}

/* 베스트셀러 여부 스위치 */
.book_list_item .switch {
  display: inline-block;
}

/* 상태 텍스트 */
.book_list_item .status {
  color: #888;
  font-weight: bold;
}

/* 로딩 메시지 */
.loading {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}

/* 도서 등록 버튼 */
.create_new_book button {
  background-color: #7AB2D3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 700;
  font-size: 17px;
}
