/* =====================북 리스(BookList)======================== */
.book_container {
  padding: 20px;
  font-family: var;
}

/* 페이지 제목 */
.pege_title h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-black);
  font-family: var(--font-kr);
  text-align: left; /* 타이틀 왼쪽 정렬 */
}

/* ==============검색 및 필터 ============*/
.booklist_search {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.category-filter select {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--text-gray-light);
  cursor: pointer;
}

.search-bar input {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  border: 1px solid var(--text-gray-light);
}

.search-bar button {
  border: none;
  background: none;
}

.search-bar img {
  width: 30px;
  margin-left: -50px;
  margin-bottom: -10px;
  z-index: 100;
  cursor: pointer;
}

.search-bar img:hover {
  width: 31px;
}

/* 책 목록 헤더 */
.book_contianer_main_tap {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-top: 1px solid var(--text-gray-light);
  border-bottom: 1px solid var(--text-gray-light);
  font-weight: bold;
  text-align: left; /* 헤더 항목 왼쪽 정렬 */
}

.book_contianer_main_tap span:nth-child(3) {
  margin-left: 90px;
}

/* 책 목록 아이템 */
.book_list_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.book_list_item .book_title {
  max-width: 200px;
  width: 100%;
  margin-left: -120px;
}

/* 베스트셀러 여부 스위치 */
.book_list_item .switch {
  display: inline-block;
}

/* 상태 텍스트 */
.book_list_item .status {
  color: #888;
  font-weight: bold;
}

/* 로딩 메시지 */
.loading {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}

/* 도서 등록 버튼 */

.create_new_book {
  display: flex;
  justify-content: right;
  margin-top: -70px;
}

.create_new_book button {
  background-color: #7ab2d3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 500;
  font-size: 17px;
  transition: background-color 0.2s ease;
}

.create_new_book button:hover {
  background-color: #4a628a;
}

/* ==============신간 도서 등록 팝업================== */
.book_container .popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.book_container .popup_wrapper {
  border-radius: 20px;
  /* 팝업 전체에 border-radius 적용 */
  overflow: hidden;
  /* 스크롤 영역이 radius를 넘지 않도록 설정 */
}

.book_container .popup_content {
  background-color: #fff;
  border-radius: 20px;
  overflow-y: auto;
  /* 팝업 높이가 화면을 초과할 경우 스크롤 가능 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.create_book_pop_title_area {
  text-align: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}


/* ===========================검색 결과 없음============================= */
.no-results-message {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #888;
  align-items: center;
  margin-top: 100px;
}
/* =====================신간 도서 팝업 내부 디자인===================== */

/* 폼 스타일 */
.upload_book_detail {
  margin: 40px;
  margin-left: 50px;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

/* 입력 영역 스타일 */
.input_book_info label {
  font-size: 0.9em;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.input_book_info {
  width: 100%;
}

.input_book_info input[type='text'],
.input_book_info input[type='number'],
.input_book_info select,
.input_book_info input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book_info_toggle {
  display: flex;
}

.book_info_toggle label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.book_info_toggle button {
  margin-right: 10px;
  margin-bottom: 20px;
  width: 65px;
}

/* 토글 버튼 스타일 */
.toggle_button {
  padding: 8px 12px;
  font-size: 0.9em;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle_button.true {
  background-color: #7ab2d3;
  /* 활성화된 상태 */
}

.toggle_button.false {
  background-color: #ccc;
  /* 비활성화된 상태 */
}

.toggle_button.active {
  background-color: #7ab2d3;
}

.toggle_button.inactive {
  background-color: #ccc;
}

/* 이미지 업로드 섹션 */
.upload_book_cover {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.upload_book_cover input[type='text'] {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.upload_book_cover img {
  width: 295px;
  height: 390px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  object-fit: cover;
  margin-top: 90px;
}

/* 버튼 영역 */
.book_create_button_area {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.book_create_button_area button {
  padding: 8px 30px;
  font-size: 1em;
  color: #fff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 500;
}

.book_create_button_area button[type='submit'] {
  background-color: #7ab2d3;
  transition: background-color 0.2s ease; /* 0.3초 동안 변화, 'ease'로 부드러운 전환 */
}

.book_create_button_area button[type='submit']:hover {
  background-color: #4a628a;
}

.book_create_button_area button[type='button'] {
  background-color: #777;
}

/* 로딩 팝업 */
.loading_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_popup .popup_content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  color: #333;
}


